<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hola mundo</title>
</head>
<body>
    <h3>{{ variablehtml }}</h3>
    {%if resultadohtml %}
        <h3>{{ resultadohtml }}</h3>
    {%endif%}
    <form action="/" id = "formulario" method="GET">
            <input type="text" name="texto1">
            <button type= "submit">enviar</button> 
    </form>
</body>
</html>


